.experience {
  background: url(../img/4_section.png) center/cover no-repeat;
  height: 150vh;
  padding-top: 120px;
}

.experience__title {
  color: var(--color-highlight);
  text-align: center;
}

.experience__date {
  color: var(--color-text);
  text-align: center;
  font-size: 29px;
  margin-top: 110px;
}

.experience__image {
  position: absolute;
}

.experience__image:nth-of-type(1) {
  left: -120px;
  top: 50%;
  transform: translateY(-50%);
}

.experience__image:nth-of-type(2) {
  right: -120px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
}

.experience__content {
  text-align: center;
  color: var(--color-accent-list);
  width: 50%;
  margin: 0 auto;
  position: relative;
}

.experience__position {
  font-size: 41px;
  margin-top: 96px;
}

.experience__company {
  font-size: 29px;
  margin-top: 30px;
  margin-bottom: 87px;
}

.experience__description {
  color: var(--color-text);
  font-size: 29px;
}